# renovate-u-boot-test

Repositoring for debugging [u-boot](https://github.com/u-boot/u-boot) versioning.

## Custom Regex

<!--
# renovate: datasource=github-tags extractVersion=^v(?<version>.*)$ depName=MindTooth/u-boot
uboot_version: 2026.04-rc4
-->
